[run]
omit =
    conftest.py
    tests/*
    # omit anything in a venv / venv2 directory
    ./venv/*
    ./venv2/*

[report]
## NOTE: `exclude_also` is only supported for coverage 7.2 and newer, which
## won't work when testing with Python2 (coverage 5.5 is the latest one
## supporting Python2), hence we cannot use it:
; exclude_also =
;   if _python_platform.python_implementation\(\) == \"Jython\":
